### A CI workflow template that runs linting and python testing

name: Test tap-dagster

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_dagster/**
    - tests/**
    - pyproject.toml
    - uv.lock
  pull_request:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_dagster/**
    - tests/**
    - pyproject.toml
    - uv.lock
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  pytest:
    name: Integration Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Setup uv
      uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: ">=0.7"
    - name: Run Tox
      env:
        TAP_DAGSTER_API_TOKEN: ${{ secrets.TAP_DAGSTER_API_TOKEN }}
        TAP_DAGSTER_BASE_URL: ${{ secrets.TAP_DAGSTER_BASE_URL }}
      run: |
        uvx --with=tox-uv tox -e $(echo py${{ matrix.python-version }} | tr -d .)

  typing:
    name: Type Checking
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x
    - name: Setup uv
      uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: ">=0.7"
    - name: Run Tox
      run: |
        uvx --with=tox-uv tox -e typing
